---
default:
  image: quay.io/testing-farm/python-ci-image:2023-06-01-ec6b0f31

variables:
  # GitLab CI runs in world writable directory, we need to explicitely set ANSIBLE_CONFIG
  # https://docs.ansible.com/ansible/devel/reference_appendices/config.html#cfg-in-world-writable-dir
  ANSIBLE_CONFIG: ansible.cfg

workflow:
  rules:
    # for merge requests
    - if: $CI_MERGE_REQUEST_ID
    # for the tip of the default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    # for schedules
    - if: $CI_PIPELINE_SOURCE == "schedule"

.rules:
  not_default_branch:
    # do not run for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: never

  not_schedule:
    # do not run for schedules
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never

  only_default_branch:
    # run only for default branch
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      when: never

  only_schedule:
    # run only for schedule
    - if: $CI_PIPELINE_SOURCE != "schedule"
      when: never

  gitlab_ci:
    - changes:
        - .gitlab-ci.yml

  secrets:
    - changes:
        - ansible/secrets/credentials.yaml

  infrastructure:
    - !reference [.rules, secrets]
    - !reference [.rules, gitlab_ci]
    - changes:
        - .envrc
        - poetry.lock
        - Makefile*
        - setup/*

  terragrunt_infra:
    - !reference [.rules, infrastructure]
    - changes:
        - terragrunt/modules/gitlab/**/*
        - terragrunt/environments/infra/**/*

  terragrunt_testing_farm:
    - !reference [.rules, infrastructure]
    - changes:
        - terragrunt/modules/artemis/**/*
        - terragrunt/modules/eks/**/*

  terragrunt_dev:
    - !reference [.rules, terragrunt_testing_farm]
    - changes:
        # NOTE: need to be explicit here, no nice excludes supported yet
        # We do not run this when variables-composes changed for example
        # https://gitlab.com/gitlab-org/gitlab/-/issues/198688
        - terragrunt/environments/dev/**/*

  terragrunt_staging:
    - !reference [.rules, terragrunt_testing_farm]
    - changes:
        - terragrunt/environments/staging/**/*

  terragrunt_staging_ci:
    - !reference [.rules, terragrunt_testing_farm]
    - changes:
        - terragrunt/environments/staging/artemis/**/*
        - terragrunt/environments/staging/worker/**/*

  terragrunt_production:
    - !reference [.rules, infrastructure]
    - changes:
        - terragrunt/environments/production/**/*

  public_compose_tests:
    - changes:
        - tests/worker/public/compose*

  public_pipeline_tests:
    - changes:
        - tests/worker/base-scenarios/*
        - tests/worker/public/tmt*
        - tests/worker/public/sti*

direnv:
  stage: test
  before_script:
    - dnf -y install direnv libffi libffi-devel
    - echo -n "$VAULT_PASSWORD" > .vault_pass
  script:
    - direnv allow
    - eval "$(direnv export bash)"
    - make generate/staging/citool-config
  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]

.direnv:
  before_script:
    - dnf -y install direnv libffi libffi-devel podman
    - echo -n "$VAULT_PASSWORD" > .vault_pass
    - direnv allow
    - eval "$(direnv export bash)"
    # WORKAROUND: gitlab runner is hosted on the same network as staging/production
    #             what is breaking DNS resolving, as AWS DNS resolves k8s API locally
    - printf "nameserver 1.1.1.1\nnameserver 8.8.8.8\nnameserver 8.8.4.4\n" > /etc/resolv.conf
  script:
    - eval "$(direnv export bash)"

# Workaround for after_script timing-out
.script_with_cleanup:
  script:
    - /bin/bash -c "${SCRIPT}" && EXIT_CODE=$? || EXIT_CODE=$?
    - /bin/bash -c "${AFTER_SCRIPT}"
    - "[ ${EXIT_CODE} = 0 ]"

# Archive pytest-gluetool artifacts
.archive_tests:
  artifacts:
    expose_as: report
    paths:
      - report.html
      - assets/style.css
      - .pytest/
    when: always

ansible-vault:
  extends: .direnv
  stage: test
  script:
    - !reference [.direnv, script]
    - dnf -y install ansible-lint
    - >
      ansible-vault view $SECRETS_FILE | yamllint -d "rules: {line-length: {level: warning}}" -
  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, secrets]

pre-commit:
  extends: .direnv
  stage: test
  script:
    - !reference [.direnv, script]
    # Need to init the modules, or pre-commit terragrunt_validate will fail :(
    - make dev/init staging/init production/init
    - PRE_COMMIT_HOME=$CI_PROJECT_DIR/.cache/pre-commit pre-commit run --all-files
  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]
    - when: always

test/dev:
  extends: .direnv
  stage: test
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    TF_VAR_cluster_name: testing-farm-gitlab-ci-$CI_JOB_ID
    SCRIPT: >-
      make dev/init &&
      make dev/apply
    AFTER_SCRIPT: make dev/destroy > /dev/null
  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_dev]

test/staging/pipeline:
  extends: [.direnv, .archive_tests]
  stage: test
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make staging/apply/artemis/ci &&
      make test/staging/pipeline/ci
    AFTER_SCRIPT: >-
      make staging/destroy/artemis/ci > /dev/null &&
      make test/pytest/oculus
  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_staging_ci]
    - !reference [.rules, public_pipeline_tests]

test/staging/compose:
  extends: [.direnv, .archive_tests]
  stage: test
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make staging/apply/artemis/ci &&
      make test/staging/compose/ci
    AFTER_SCRIPT: >-
      make staging/destroy/artemis/ci > /dev/null &&
      make test/pytest/oculus
  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_staging_ci]
    - !reference [.rules, public_compose_tests]

test/infra:
  extends: .direnv
  stage: test
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make infra/init &&
      make infra/plan
  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_infra]

test/staging:
  extends: .direnv
  stage: test
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make staging/plan
  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_staging]

test/production:
  extends: .direnv
  stage: test
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make production/plan

  rules:
    - !reference [.rules, not_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_production]

redeploy/staging:
  extends: .direnv
  stage: deploy
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make staging/init &&
      make staging/destroy &&
      make staging/apply
  rules:
    - !reference [.rules, only_default_branch]
    - !reference [.rules, only_schedule]
    - if: '$SCHEDULED_JOB == "redeploy/staging"'

cleanup/staging/ci:
  extends: .direnv
  stage: deploy
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: make cleanup/staging/ci
  rules:
    - !reference [.rules, only_default_branch]
    - !reference [.rules, only_schedule]
    - if: '$SCHEDULED_JOB == "cleanup/staging/ci"'

deploy/infra:
  extends: .direnv
  stage: deploy
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make infra/init &&
      make infra/apply
  rules:
    - !reference [.rules, only_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_infra]

deploy/staging:
  extends: .direnv
  stage: deploy
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make staging/apply
  rules:
    - !reference [.rules, only_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_staging]

deploy/production:
  extends: .direnv
  stage: deploy
  needs:
    - job: deploy/staging
      optional: true
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT: >-
      make production/apply
  rules:
    - !reference [.rules, only_default_branch]
    - !reference [.rules, not_schedule]
    - !reference [.rules, terragrunt_production]
