---
default:
  image: quay.io/testing-farm/python-ci-image:2022-09-22-f36b4b1c

variables:
  # GitLab CI runs in world writable directory, we need to explicitely set ANSIBLE_CONFIG
  # https://docs.ansible.com/ansible/devel/reference_appendices/config.html#cfg-in-world-writable-dir
  ANSIBLE_CONFIG: ansible.cfg

workflow:
  rules:
    # for merge requests
    - if: $CI_MERGE_REQUEST_ID
    # for the tip of the default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.rules:
  not_for_default_branch:
    # do not run for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: never

  only_for_default_branch:
    # run only for default branch
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      when: never

  gitlab_ci:
    - changes:
        - .gitlab-ci.yml

  ansible_vault:
    - changes:
        - secrets/credentials.yml

  terraform_infra:
    - !reference [.rules, ansible_vault]
    - !reference [.rules, gitlab_ci]
    - changes:
        - terraform/environments/common/**/*
        - terraform/modules/**/*
        - terraform/*.tf
        - terraform/*.tftpl
        - .envrc

  terraform_dev:
    - !reference [.rules, terraform_infra]
    - changes:
        - terraform/environments/dev/**/*

  terraform_staging:
    - !reference [.rules, terraform_infra]
    - changes:
        - terraform/environments/staging/**/*

direnv_prepare:
  stage: .pre
  before_script:
    - dnf -y install direnv libffi libffi-devel
    - echo -n "$VAULT_PASSWORD" > .vault_pass
  script:
    - direnv allow
    - eval "$(direnv export bash)"
  cache:
    paths:
      - .venv
  artifacts:
    public: false
    paths:
      - .direnv
      - .venv

.direnv:
  before_script:
    - dnf -y install direnv libffi libffi-devel
    - echo -n "$VAULT_PASSWORD" > .vault_pass
    - direnv allow
    - eval "$(direnv export bash)"
  script:
    - eval "$(direnv export bash)"
  dependencies:
    - direnv_prepare

# Workaround for after_script timing-out
.script_with_cleanup:
  script:
    - env -C "${CI_PROJECT_DIR}/${SCRIPT_DIR}" /bin/bash -c "${SCRIPT}" && EXIT_CODE=$? || EXIT_CODE=$?
    - env -C "${CI_PROJECT_DIR}/${SCRIPT_DIR}" /bin/bash -c "${AFTER_SCRIPT}"
    - "[ ${EXIT_CODE} = 0 ]"

ansible-vault:
  extends: .direnv
  stage: test
  script:
    - !reference [.direnv, script]
    - dnf -y install ansible-lint
    - >
      ansible-vault view secrets/credentials.yml | yamllint -d "rules: {line-length: {level: warning}}" -

pre-commit:
  extends: .direnv
  stage: test
  script:
    - !reference [.direnv, script]
    - PRE_COMMIT_HOME=$CI_PROJECT_DIR/.cache/pre-commit pre-commit run --all-files
  cache:
    paths:
      - .cache
  rules:
    - !reference [.rules, not_for_default_branch]

test/dev:
  extends: .direnv
  stage: test
  script:
    # TODO: tmt run -e cluster_name=testing-farm-gitlab-ci-$CI_COMMIT_REF_NAME plan --name /terraform/environments/dev
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    TF_VAR_cluster_name: testing-farm-gitlab-ci-${CI_COMMIT_REF_NAME:0:10}-$CI_JOB_ID
    SCRIPT_DIR: terraform/environments/dev
    SCRIPT: >-
      terraform init &&
      terraform plan -out tfplan &&
      terraform apply tfplan
    AFTER_SCRIPT: terraform destroy -auto-approve
  rules:
    - !reference [.rules, not_for_default_branch]
    - !reference [.rules, terraform_dev]

deploy/staging:
  extends: .direnv
  stage: deploy
  when: manual
  script:
    - !reference [.direnv, script]
    - !reference [.script_with_cleanup, script]
  variables:
    SCRIPT_DIR: terraform/environments/staging
    SCRIPT: >-
      terraform init &&
      terraform plan -out tfplan &&
      terraform apply tfplan
  rules:
    - !reference [.rules, only_for_default_branch]
    - !reference [.rules, terraform_staging]
