[tool.poetry]
name = "infrastructure"
version = "0.1.0"
description = "Testing Farm Infrastructure."
authors = ["Miroslav Vadkerti <<mvadkert@redhat.com>>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.7"
awscli = "^1.18.56"
ansible = "^4.0.0"
ansible-lint = "^4.0.0"
jinja2 = "^2.11.2"
ansible-vault = "^1.2.0"
cryptography = "^2.9.2"
yq = "^2.10.0"
botocore = "^1.23.26"
boto3 = "^1.20.26"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
