[tool.poetry]
name = "infrastructure"
version = "0.1.0"
description = "Testing Farm Infrastructure."
authors = ["Miroslav Vadkerti <<mvadkert@redhat.com>>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
awscli = "^1.27.80"
ansible-core = "^2.14.3"
jinja2 = "^3.1.2"
cryptography = "^2.9.2"
yq = "^2.10.0"
boto3 = "^1.26.80"

[tool.poetry.dev-dependencies]
yamllint = "^1.28.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
