[tool.poetry]
name = "infrastructure"
version = "0.1.0"
description = "Testing Farm Infrastructure."
authors = ["Miroslav Vadkerti <<mvadkert@redhat.com>>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.7"
awscli = "^1.18.56"
ansible = "^2.9.7"
jinja2 = "^2.11.2"
ansible-vault = "^1.2.0"
cryptography = "^2.9.2"
yq = "^2.10.0"
boto3 = "^1.13.6"

[tool.poetry.dev-dependencies]
yamllint = "^1.28.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
