[default]
artifacts-host = {{ artifacts_user }}@{{ artifacts_hostname }}
artifacts-root = /var/artifacts
source-destination-map = ${config_root}/source-destination-map.yaml
archive-mode = ssh
rsync-options = --links,--times,--verbose,--compress
enable-parallel-archiving = yes
rsync-timeout = 600
