[default]
artifacts-host = {{ artifacts_hostname }}
artifacts-root = {{ artifacts_root }}
source-destination-map = ${config_root}/source-destination-map.yaml
archive-mode = ssh
rsync-options = --links,--times,--verbose,--compress
enable-parallel-archiving = yes
rsync-timeout = 600
