---
#
# The mapping file maps compose names to Azure images, use the following format
#
# - 'compose-name' : 'azure-image-name'
#
# XXX FIXME for now don't use variables, just direct mapping
- '^RHEL-7\.9\.0:(?:aarch64|x86_64)$': 'RedHat:RHEL:7_9:7.9.2020111301'
