---

users:
  - name: admin
    role: admin

  - name: artemis
    role: user

ssh-keys:
  ${indent(2, yamlencode(ssh_keys))}

priority-groups:
  - name: default-priority

guest_tags:
  FedoraGroup: "ci"
  ServiceName: "Artemis"
  ServiceOwner: "TFT"
  ServicePhase: "Dev"

pools:
  - name: fedora-aws-x86_64
    driver: aws
    parameters:
      access-key-id: "${aws_access_key_id}"
      secret-access-key: "${aws_secret_access_key}"

      default-region: us-east-2

      command: aws
      master-key-name: testing-farm-worker

      # availability zone match chosen subnet
      availability-zone: us-east-2c

      # seems 4k machines
      subnet-id: subnet-4f971734

      # security group for test environment
      security-group: "${aws_security_group_id}"

      # wait timeout/tick for fulfilling spot request
      # spot-request-timeout: 60
      # spot-request-tick: 1

      # wait timeout/tick for instance becoming running
      # instance-running-timeout: 120
      # instance-running-tick: 1

      # image filters
      image-filters:
        - owner: self
        # Automotive images
        - owner: "587138297281"
        # Debezium images
        - owner: "133133877115"
        # Packit Image Builder images
        - owner: "463606842039"

      capabilities:
        supports-snapshots: false
        supported-architectures:
          - x86_64

      use-public-ip: true

      #
      # Flavors
      #
      # Default instance type.
      default-instance-type: c6a.large

      # Default root disk size.
      default-root-disk-size: 100

      # Control the subset of flavors available for provisioning.
      flavor-regex: ^c6a\..+$

      # Do not use the default instance when no suitable can be found. When not having a suitable flavor,
      # pool simply cannot satisfy the request.
      use-default-flavor-when-no-suitable: false

      # Create custom flavors.
      custom-flavors:
        - name: c6a.large-100
          base: c6a.large
          disk:
            - size: "100 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

      # Create custom flavors.
      custom-flavors:
        - name: c6a.large-100
          base: c6a.large
          disk:
            - size: "100 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6a.large-250
          base: c6a.large
          disk:
            - size: "250 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6a.large-500
          base: c6a.large
          disk:
            - size: "500 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6a.large-100
          base: c6a.large
          disk:
            - size: "100 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6a.xlarge-250
          base: c6a.xlarge
          disk:
            - size: "250 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6a.xlarge-500
          base: c6a.xlarge
          disk:
            - size: "500 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6a.2xlarge-100
          base: c6a.2xlarge
          disk:
            - size: "100 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6a.2xlarge-250
          base: c6a.2xlarge
          disk:
            - size: "250 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6a.2xlarge-500
          base: c6a.2xlarge
          disk:
            - size: "500 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

      # Provide flavor info we cannot extract from API.
      # Based on AWS documentation, https://aws.amazon.com/ec2/instance-types/
      patch-flavors:
        - name-regex: 'c6a\..+'
          cpu:
            family: 25
            family-name: Hygon Dhyana
            model: 1
            model-name: AMD EPYC 7R13 Processor

  - name: fedora-aws-aarch64
    driver: aws
    parameters:
      access-key-id: "${aws_access_key_id}"
      secret-access-key: "${aws_secret_access_key}"

      default-region: us-east-2

      command: aws
      master-key-name: testing-farm-worker

      # availability zone match chosen subnet
      availability-zone: us-east-2c

      # seems 4k machines
      subnet-id: subnet-4f971734

      # security group for test environment
      security-group: "${aws_security_group_id}"

      # wait timeout/tick for fulfilling spot request
      # spot-request-timeout: 60
      # spot-request-tick: 1

      # wait timeout/tick for instance becoming running
      # instance-running-timeout: 120
      # instance-running-tick: 1

      # image filters
      image-filters:
        - owner: self
        # Automotive images
        - owner: "587138297281"
        # Debezium images
        - owner: "133133877115"
        # Packit Image Builder images
        - owner: "463606842039"

      capabilities:
        supports-snapshots: false
        supported-architectures:
          - aarch64

      use-public-ip: true

      #
      # Flavors
      #
      # Default instance type.
      default-instance-type: c6g.large

      # Default root disk size.
      default-root-disk-size: 100

      # Control the subset of flavors available for provisioning.
      flavor-regex: ^c6g\..+$

      # Do not use the default instance when no suitable can be found. When not having a suitable flavor,
      # pool simply cannot satisfy the request.
      use-default-flavor-when-no-suitable: false

      # Create custom flavors.
      custom-flavors:
        - name: c6g.large-100
          base: c6g.large
          disk:
            - size: "250 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

      # Create custom flavors.
      custom-flavors:
        - name: c6g.large-100
          base: c6g.large
          disk:
            - size: "100 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6g.large-250
          base: c6g.large
          disk:
            - size: "250 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6g.large-500
          base: c6g.large
          disk:
            - size: "500 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6g.large-100
          base: c6g.large
          disk:
            - size: "100 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6g.xlarge-250
          base: c6g.xlarge
          disk:
            - size: "250 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6g.xlarge-500
          base: c6g.xlarge
          disk:
            - size: "500 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6g.2xlarge-100
          base: c6g.2xlarge
          disk:
            - size: "100 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6g.2xlarge-250
          base: c6g.2xlarge
          disk:
            - size: "250 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

        - name: c6g.2xlarge-500
          base: c6g.2xlarge
          disk:
            - size: "500 GiB"
            - additional-disks:
                max-count: 5
                min-size: "10 GiB"
                max-size: "512 GiB"

      # Provide flavor info we cannot extract from API.
      # Based on AWS documentation, https://aws.amazon.com/ec2/instance-types/
      patch-flavors:
        - name-regex: 'c6g\..+'
          cpu:
            model: 1
            model-name: AWS Graviton2
