---
- hosts: localhost
  vars_files:
    - ../secrets/credentials.yaml
  pre_tasks:
    - name: Check if `deployment` variable set
      fail:
        msg: Missing `deployment` variable set to `dev`, `staging` or `production`
      when:
        - deployment is undefined or not deployment is regex('(dev|staging|production)')
  tasks:
    - name: Include variables for the correct deployment (dev, staging)
      include_vars:
        file: "../inventory/group_vars/testing_farm_{{ deployment }}_public_workers.yaml"
      when: deployment is regex('(dev|staging)')

    - name: Include variables for the correct deployment (production)
      include_vars:
        file: "../inventory/group_vars/testing_farm_public_workers.yaml"
      when: deployment is regex('production')

    - name: Generate worker name
      set_fact:
        worker_name: "testing-farm-worker-{{ lookup('pipe', 'uuidgen | sed s/-.*//') }}"

    - name: Provision new EC2 instance
      amazon.aws.ec2_instance:
        state: running
        profile: fedora_us_east_2
        tags: "{{ worker_resource_tags | combine({'Name': worker_name })  }}"
        key_name: testing-farm
        instance_type: "{{ worker_instance_type }}"
        image_id: "{{ worker_image_id }}"
        wait: true
        count: "{{ count|default(1) }}"
        network:
          subnet_id: "{{ worker_subnet }}"
          assign_public_ip: true
        instance_initiated_shutdown_behavior: terminate
        security_group: "{{ worker_security_group }}"
      register: ec2

    - name: Add new instance to host group
      add_host:
        hostname: "{{ item.public_ip_address }}"
        groupname: "{{ worker_group_name }}"
        ansible_ssh_extra_args: "-o IdentitiesOnly=yes"
        worker_name: "{{ worker_name }}"
      loop: "{{ ec2.instances }}"

    - name: Add new instance to host group
      add_host:
        hostname: "{{ item.public_ip_address }}"
        groupname: new_workers
        ansible_ssh_extra_args: "-o IdentitiesOnly=yes"
        worker_name: "{{ worker_name }}"
      loop: "{{ ec2.instances }}"

#
# Wait for ssh connection
#
- hosts: new_workers
  gather_facts: false
  remote_user: fedora
  tasks:
    - name: Include variables for the correct deployment (dev, staging)
      include_vars:
        file: "../inventory/group_vars/testing_farm_{{ deployment }}_public_workers.yaml"
      when: deployment is regex('(dev|staging)')

    - name: Wait for SSH to come up
      wait_for_connection:
        delay: 10
        timeout: 600

#
# Setup storage
#
- hosts: new_workers
  gather_facts: false
  remote_user: fedora
  become: true
  vars:
    volume_attached_device: /dev/nvme0n1
    volume_attached_device_mount_path: /data
    volume_attached_device_owner: root
    volume_attached_device_group: root
  roles:
    - volume

#
# Setup worker
#
- hosts: new_workers
  remote_user: fedora
  vars_files:
    - ../secrets/credentials.yaml
    - ../vars/common.yaml
  pre_tasks:
    - import_tasks: ../tasks/hostname.yaml
      vars:
        hostname: "{{ hostvars[inventory_hostname]['worker_name'] }}"
    - import_tasks: ../tasks/dns.yaml
    - import_tasks: ../tasks/ssh-key.yaml
    - import_tasks: ../tasks/artifacts.yaml
    - import_tasks: ../tasks/podman.yaml
    - import_tasks: ../tasks/jobs.yaml
    - import_tasks: ../tasks/config.yaml
    - import_tasks: ../tasks/image.yaml
    - import_tasks: ../tasks/terragrunt.yaml
  roles:
    - name: geerlingguy.swap
      vars:
        swap_file_path: /data/swapfile
        swap_file_size_mb: "16384"
        swap_file_state: present
      become: true
    - name: geerlingguy.node_exporter
      become: true
    - name: nomad
  tasks:
    - include_tasks: ../tasks/jobs-register.yaml
      when: skip_nomad_start is not defined

- hosts: localhost
  tasks:
    - name: Refresh the inventory
      meta: refresh_inventory
