---
- hosts: testing_farm_redhat_servers:testing_farm_redhat_workers
  vars_files:
    - ../secrets/credentials.yaml
  tasks:
    - import_tasks: ../tasks/rh-certs.yaml

- hosts: testing_farm_public_workers:testing_farm_redhat_workers:testing_farm_dev_public_workers:testing_farm_staging_public_workers
  vars_files:
    - ../secrets/credentials.yaml
    - ../vars/common.yaml
  pre_tasks:
    - import_tasks: ../tasks/dns.yaml
      tags: update_dns
    - import_tasks: ../tasks/ssh-key.yaml
    - import_tasks: ../tasks/artifacts.yaml
    - import_tasks: ../tasks/podman.yaml
    - import_tasks: ../tasks/jobs.yaml
      tags: update_jobs
    - import_tasks: ../tasks/config.yaml
      tags: update_config
    - import_tasks: ../tasks/image.yaml
      tags: update_image
    - import_tasks: ../tasks/profiles.yaml
      tags: update_config
  roles:
    - name: geerlingguy.swap
      vars:
        swap_file_path: /data/swapfile
        swap_file_size_mb: "16384"
        swap_file_state: present
      become: true
    - name: geerlingguy.node_exporter
      become: true
    - name: nomad
      tags: update_nomad
  tasks:
    - import_tasks: ../tasks/jobs-register.yaml
      tags: update_jobs
