---

- hosts: testing_farm_public_servers:testing_farm_public_workers
  become: true
  roles:
    - security

- hosts: testing_farm_redhat_servers:testing_farm_redhat_workers
  vars_files:
    - ../secrets/credentials.yml
  tasks:
    - include: ../tasks/rh-certs.yml

- hosts: testing_farm_public_workers:testing_farm_redhat_workers
  vars_files:
    - ../secrets/credentials.yml
    - ../vars/common.yml
  pre_tasks:
    - include: ../tasks/dns.yml
      tags: update_dns
    - include: ../tasks/ssh_key.yml
    - include: ../tasks/podman.yml
    - include: ../tasks/jobs.yml
      tags: update_jobs
    - include: ../tasks/config.yml
      tags: update_config
    - include: ../tasks/xunit-viewer.yml
      tags: update_xunit_viewer
    - include: ../tasks/image.yml
      tags: update_image
  roles:
    - name: disk
      become: true
    - name: nomad
      tags: update_nomad
  tasks:
    - include: ../tasks/jobs-register.yml
      tags: update_jobs
