---
- name: Copy citool configuration
  become: true
  synchronize:
    # ending `/` is required to copy only contents over
    src: "{{ worker_deployment_data }}/citool-config/"
    dest: "/etc/citool.d"
    archive: false
    recursive: true
    use_ssh_args: true

- name: Render config templates
  become: true
  template:
    src: "{{ item }}"
    dest: "/etc/citool.d/config/{{ item | basename | regex_replace('.j2','') }}"
    mode: 0644
  with_fileglob:
    - "{{ worker_deployment_data }}/citool-config/config/*.j2"

- name: Render config templates (root)
  become: true
  template:
    src: "{{ item }}"
    dest: "/etc/citool.d/{{ item | basename | regex_replace('.j2','') }}"
    mode: 0644
  with_fileglob:
    - "{{ worker_deployment_data }}/citool-config/*.j2"
  # TODO: this needs revisit once we unify staging and development config
  when: deployment is regex('production')

- name: Copy Artemis Private Key
  become: true
  copy:
    # ending `/` is required to copy only contents over
    src: "{{ artemis_ssh_private_key }}/"
    dest: "/etc/citool.d/id_rsa_artemis"
    owner: "root"
    mode: 0600

- name: Copy Artemis Public Key
  become: true
  copy:
    # ending `/` is required to copy only contents over
    src: "{{ artemis_ssh_public_key }}/"
    dest: "/etc/citool.d/id_rsa_artemis.pub"
    owner: "root"
    mode: 0600
