---
# The stable tag of rawhide needs to be autodetected from Bodhi. The stable tag
# is the place where packages land after they passed gating. See TFT-885 for more info
- block:
  - name: Get Rawhide version for Bodhi
    shell: >
      http GET https://bodhi.fedoraproject.org/releases/?exclude_archived=true | \
      jq -r '.releases[] | select(.branch == "rawhide") | .stable_tag'
    register: rawhide_version_output

  - name: Set Rawhide version fact
    copy:
      dest: "{{ root_dir }}/ranch/{{ deployment_environment }}/citool-config/guest-setup/pre-artifact-installation/rawhide_version"
      content: "{{ rawhide_version_output.stdout }}"

  - name: Unlink rawhide_version temporary file
    file:
      state: absent
      path: "{{ root_dir }}/ranch/{{ deployment_environment }}/citool-config/guest-setup/pre-artifact-installation/rawhide_version"
  delegate_to: localhost
  when: deployment_environment == "public"

- name: Copy citool configuration
  become: true
  copy:
    # ending `/` is required to copy only contents over
    src: "{{ root_dir }}/ranch/{{ deployment_environment }}/citool-config/"
    dest: "/etc/citool.d"
    owner: "root"
    mode: "preserve"

- name: Render config templates
  template:
    src: "{{ item }}"
    dest: "/etc/citool.d/config/{{ item | basename | regex_replace('.j2','') }}"
    mode: 0644
  with_fileglob:
    - "{{ root_dir }}/citool-config/{{ deployment_environment }}/config/*.j2"

- name: Copy Artemis Private Key
  become: true
  copy:
    # ending `/` is required to copy only contents over
    src: "{{ artemis_ssh_private_key }}/"
    dest: "/etc/citool.d/id_rsa_artemis"
    owner: "root"
    mode: 0600

- name: Copy Artemis Public Key
  become: true
  copy:
    # ending `/` is required to copy only contents over
    src: "{{ artemis_ssh_public_key }}/"
    dest: "/etc/citool.d/id_rsa_artemis.pub"
    owner: "root"
    mode: 0600
