---
- name: Copy job scripts
  become: true
  copy:
    dest: "/usr/local/bin/{{ item }}"
    src: "{{ root_dir }}/ranch/{{ deployment_environment }}/jobs/{{ item }}"
    mode: "a+rwx"
  with_items: "{{ jobs }}"
