---
- name: Copy job scripts
  become: true
  copy:
    dest: "/usr/local/bin/{{ item }}"
    src: "{{ playbook_dir }}/nomad/{{ deployment_environment }}/{{ item }}"
    mode: "a+rwx"
  with_items: "{{ jobs }}"
