---
- block:
    - name: Create directory with nomad job definitions
      file:
        path: "nomad"
        state: directory
        mode: "a+rwx"

    - name: Generate nomad jobs
      become: true
      template:
        src: "{{ root_dir }}/ansible/templates/job-nomad.j2"
        dest: "nomad/{{ job_name }}.nomad"
        mode: "a+rwx"
      loop: "{{ jobs_template_vars | dict2items }}"
      vars:
        job_vars: "{{ item.value }}"
        job_name: "{{ item.key | replace('_', '-') }}"

    - name: Register nomad jobs
      command: "nomad run nomad/{{ item }}.nomad"
      with_items: "{{ jobs }}"

  # noamd jobs need to be registered only once
  run_once: true
