---
- block:
  - name: "Make sure podman is installed"
    package:
        name: podman
        state: present

  - name: "Create container storage path {{ container_storage_path }}"
    file:
        path: "{{ container_storage_path }}"
        state: directory
        mode: 0700

  - name: "Set containers storage to {{ container_storage_path }}"
    lineinfile:
        path: /etc/containers/storage.conf
        regexp: "^graphroot = .*"
        line: 'graphroot = "{{ container_storage_path }}"'

  - name: "Set semanage context correctly"
    command: "semanage fcontext -a -e /var/lib/containers/storage {{ container_storage_path }}"
    ignore_errors: true

  - name: "Relabel all files"
    command: "restorecon -RvvF {{ container_storage_path }}"

  - name: "Add crontab for cleaning up podman"
    cron:
        name: cleanup podman daily
        state: present
        job: >
          podman system prune --force --volumes
        special_time: daily

  become: true
