---
- block:
  - name: Make sure python3-lxml is present
    package:
      name:
        - python3-lxml
      state: present

  - name: Install tfxunit2junit.py
    get_url:
      url: "https://raw.githubusercontent.com/fedora-ci/jenkins-pipeline-library-agent-image/master/scripts/tfxunit2junit.py"
      dest: "/usr/local/bin/tfxunit2junit.py"
      mode: "a+rwx"

  become: true
