job "{{ job_name }}" {
  type        = "batch"
  datacenters = ["dc1"]

  parameterized {
      meta_required = ["REQUEST_ID"]
  }

  group "{{ job_vars.group }}" {

    # Restart up to 2 times
    restart {
      attempts = 2
    }

    reschedule {
      attempts = 2
    }

    ephemeral_disk {
      size = "{{ job_vars.ephemeral_disk_size }}"
    }

    task "{{ job_vars.group }}" {
      driver = "raw_exec"

      resources {
        cpu    = {{ job_vars.cpu }}
        memory = {{ job_vars.memory }}
      }

      config {
        command = "{{ job_name }}"
        args = {{ nomad_job_args }}
      }
    }
  }
}
