apiVersion: v1
kind: Service
metadata:
  name: artemis-api
spec:
  type: LoadBalancer
  selector:
    service: artemis-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8001
  loadBalancerSourceRanges:
    {{ artemis_loadbalancer_ranges | to_yaml }}
