---
{% if GUEST is defined %}
UPDATE_FROM_ARTIFACTS: {{ ((GUEST.environment.pipeline | default({})).settings | default({})).update_from_artifacts | default(False) | tojson }}

GUEST:
  {% if GUEST.artemis_id %}
  artemis_id: "{{ GUEST.artemis_id }}"
  {% endif %}
{% endif %}

#
# Role variables for Testing Farm profiles
#

#
# AWS Red Hat ranch requires the hostname to be set according to IT AWS setup.
#
# TFT-1803 - AWS hostnames were reimplemented by IT.
# TFT-1987 - Set explicitly as it happens after the machine boots.
#
# The search domain is by default `<REGION>.aws.redhat.com`, e.g. `us-east-1.aws.redhat.com`.
# We cannot set it to FQDN, because hostname can only be 64 chars max:
# https://redhat-internal.slack.com/archives/C03BRN71JAF/p1685450197314049
#
{% if GUEST is defined and GUEST.artemis_id %}
hostname_hostname: "{{ GUEST.artemis_id }}"
{% endif %}

python_bin_url:
  aarch64: "https://gitlab.com/api/v4/projects/75476709/jobs/artifacts/main/raw/\
            dist/build-aarch64.tar.gz?job=build_cpython%3A%20%5Baarch64%5D"
  ppc64le: "https://gitlab.com/api/v4/projects/75476709/jobs/artifacts/main/raw/\
            dist/build-ppc64le.tar.gz?job=build_cpython%3A%20%5Bppc64le%5D"
  s390x: "https://gitlab.com/api/v4/projects/75476709/jobs/artifacts/main/raw/\
          dist/build-s390x.tar.gz?job=build_cpython%3A%20%5Bs390x%5D"
  x86_64: "https://gitlab.com/api/v4/projects/75476709/jobs/artifacts/main/raw/\
           dist/build-x86_64.tar.gz?job=build_cpython%3A%20%5Bx86_64%5D"

python_install_path: "/var/opt/standalone-python"
