variant: fcos
version: 1.5.0
passwd:
  users:  # pragma: allowlist secret
    - name: core
      ssh_authorized_keys_local:  # pragma: allowlist secret
        - ansible/secrets/ssh/id_rsa_public_server.pub
storage:
  files:
    - path: /etc/testing-farm/pods/server.yaml
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/server.yaml
    - path: /etc/containers/systemd/server.kube
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/server.kube
    - path: /etc/testing-farm/pods/cockroach.yaml
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/cockroach.yaml
    - path: /etc/containers/systemd/cockroach.kube
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/cockroach.kube
    - path: /etc/testing-farm/pods/nginx.yaml
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/nginx.yaml
    - path: /etc/containers/systemd/nginx.kube
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/nginx.kube
    - path: /etc/testing-farm/pods/nomad.yaml
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/nomad.yaml
    - path: /etc/containers/systemd/nomad.kube
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/nomad.kube
    - path: /etc/nomad/server.conf
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/nomad/server.conf
    - path: /etc/nginx/conf.d/api.dev-{{ ansible_env.USER }}.testing-farm.io.conf
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/nginx/api.dev-{{ ansible_env.USER }}.testing-farm.io.conf
    - path: /etc/nginx/conf.d/internal.api.dev-{{ ansible_env.USER }}.testing-farm.io.conf
      mode: 0644
      contents:
        local: terragrunt/environments/dev/server/pods/nginx/internal.api.dev-{{ ansible_env.USER }}.testing-farm.io.conf
  directories:
    - path: /var/nomad
  disks:
    - device: /dev/nvme1n1
      wipe_table: false
      partitions:
      - size_mib: 0
        label: artifacts
  filesystems:
    - path: /var/artifacts
      device: /dev/disk/by-partlabel/artifacts
      format: xfs
      with_mount_unit: true
